hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.bottom-right-fix {
    position:fixed;
    background-color:white;
    bottom: 0px;
    right: 50px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.12);
    width: 25vw;
}

.container {
  padding: 0;
}

.close {
    display:none;
}

.slideUp {
  animation: slideup 0.2s 1;
  animation-direction: normal, reverse;
  height: auto;
}

.slideDown {
    animation: slidedown 0.2s 1;
    animation-direction: normal, reverse;
    height: 0px;
}

@keyframes slideup {
  from {
    height: 0px;
  }
  to {
    height: 400px;
  }
}

@keyframes slidedown {
  from {
    height: 400px;
  }
  to {
    height: 0px;
  }
}
