.alternatives-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    overflow: hidden;
}

/* Btn container */
.button-container {
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    text-align: center;

    height: 30px;
}

/* Alternativ btn  */
.alternativ-btn {
    height: 100%;
    width: 90%;

    color: white;
    background-color: rgb(81, 192, 137);
    border: 15px;
    border-radius: 15px;

}

/* Alternativ btn hover */
.alternativ-btn:hover {
    background-color: rgb(89, 212, 151);

    color: white;
}

