.chat {
  display: inline-block;
  padding: 5px 8px 6px;
  font-size: initial;
  border-radius: 15px;
  margin: 0.5px 0px;
}

.profile-image-wrapper {
  margin-bottom: 1px;
  margin-right: 5px;
}

.profile-image {
  width:25px;
  height:25px;
  background-color: red;
  border-radius: 20px;
}

div.sent-wrapper {
  margin-left: 50px;
}

div.sent-wrapper > span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.sent-wrapper > span:first-of-type {
  border-radius: 15px;  
  border-bottom-right-radius: 5px;
  margin-top: 3px;
}

div.sent-wrapper > span:last-of-type {
  border-radius: 15px;  
  border-top-right-radius: 5px;
  margin-bottom: 3px;
}

div.sent-wrapper > span:only-of-type {
  border-radius: 15px;
  margin: 3px 0px;
}

div.received-wrapper {
  margin-right: 50px;
}

div.received-wrapper > span {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

div.received-wrapper > span:first-of-type {
  border-radius: 15px;  
  border-bottom-left-radius: 5px;
  margin-top: 3px;
}

div.received-wrapper > span:last-of-type {
  border-radius: 15px;  
  border-top-left-radius: 5px;
  margin-bottom: 3px;
}

div.received-wrapper > span:only-of-type {
  border-radius: 15px;
  margin: 3px 0px;
}

.chat-box {
  height: 350px;
  overflow-y: scroll;
  padding: 10px 15px;
}

.received {
  background-color: rgb(241, 240, 240);
}

.sent {
  color: white;
  background-color: rgb(64, 128, 255);
}