.chat-box {
  height: 50vh;
  overflow-y: scroll;
  z-index: 0;
}

.row {
  margin-bottom: 0;
  padding: 10px 20px;
  justify-content: space-between;
}

.chat {
  display: inline-block;
  border-radius: 15px;
  font-size: 0.9em;
}

.received {
  background-color: rgb(241, 240, 240);
  padding: 5px 8px 6px;
  margin-right: 30px;
}

.sent {
  color: white;
  background-color: rgb(64, 128, 255);
  padding: 5px 8px 6px;
  margin-left: 30px;
  float: right;
}

.row {
    padding:5px 7.5px;
}