<div class="chat-box">
  <div *ngFor="let group of data.separatedMessages; let last = last">
    <div fxLayout="row" fxLayoutAlign="{{group[0].type!=='sent' ? 'start end' : 'end end'}}"> 
      <div *ngIf="group[0].type!=='sent'" class="profile-image-wrapper">
        <img src="assets/avatar1.png" class="profile-image">
      </div>

      <div fxLayout="column" fxLayoutAlign="{{group[0].type!=='sent' ? 'start start' : 'start end'}}" class="{{group[0].type + '-wrapper'}}">
        <span *ngFor="let msg of group" class="chat chat-animation" [ngClass]="{'sent':msg.type==='sent','received':msg.type==='received','image-received':msg.type==='image-received'}" title="{{getTitle(msg)}}">
          <span *ngIf="msg.type!=='image-received'" [innerHTML]="detectURLInMessage(msg.content)" class="chat-message"></span>
          <img *ngIf="msg.type==='image-received'" class="image-received-wrapper" [src]="imgManager.sanitizeImage(msg.content)" (click)="imgFullscreen(msg.content)">
          
        </span>
        <div class="typing-indicator" *ngIf="data.receivingMessages && last && group[0].type!=='sent'">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start end" *ngIf="data.receivingMessages && last && group[0].type==='sent'"> 
      <div class="profile-image-wrapper">
        <img src="assets/avatar1.png" class="profile-image">
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" class="received-wrapper">
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <div *ngIf="last">{{scrollToBottom()}}</div>
  </div>
  <alternativbuttons *ngIf="alternativHandler.show"></alternativbuttons>
</div>