span:-moz-last-node {
  margin-bottom:10px;
}

.row {
  margin-bottom: 0;
  padding: 10px 20px;
  justify-content: space-between;
  padding:3px 7.5px;
}

.chat {
  display: inline-block;
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 8px 6px;
}

.chat-box {
  height: 350px;
  overflow-y: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

.received {
  background-color: rgb(241, 240, 240);
  margin-right: 30px;
}

.sent {
  color: white;
  background-color: rgb(64, 128, 255);
  margin-left: 30px;
  float: right;
}

.last-row {
  margin-bottom: 0px;
}

.first-row {
  margin-top: 0px;
}

.sent-row-first {
  padding-bottom: 1px;
}

.sent-row-first > span {
  border-bottom-right-radius: 1px;
}

.received-row-first {
  padding-bottom: 1px;
}

.received-row-first > span {
  border-bottom-left-radius: 1px;
}

.sent-row-mid {
  padding-top: 1px;
  padding-bottom: 1px;
}

.sent-row-mid > span {
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

.received-row-mid {
  padding-top: 1px;
  padding-bottom: 1px;
}

.received-row-mid > span {
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
}

.sent-row-last {
  padding-top: 1px;
}

.sent-row-last > span {
  border-top-right-radius: 1px;
}

.received-row-last {
  padding-top: 1px;
}

.received-row-last > span {
  border-top-left-radius: 1px;
}