
.alternatives-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  overflow: hidden;
}

.button-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.btn {
  font-size: 12px; 
  height: 100%;
  width: 90%;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}

.slideUpAlternatives {
  animation: slideupalternatives 0.2s 1;
}

.slideDownAlternatives {
  animation: slidedownalternatives 0.2s 1;
}

@keyframes slideupalternatives {
  from {
    height: 0px;
  }
  to {
    height: 36px;
  }
}

@keyframes slidedownalternatives {
  from {
    height: 36px;
  }
  to {
    height: 0px;
  }
}

@-webkit-keyframes slidedownalternatives {
  from {
    height: 36px;
  }
  to {
    height: 0px;
  }
}