/* @import url("../../../../node_modules/bootstrap/dist/css/bootstrap.css"); */

i, label {
    user-select: none;
}

i + label {
    margin-left: 5px;
    margin-bottom: 0px;
}

.pointer {
    cursor: pointer;
}

.title-bar {
    padding: 10px 10px;
}

.shadows {
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.12);
    z-index: 10;
    position:relative;
}