hr {
  height: 12px;
  width: 100%;
  border: 0;
  margin: 0;
  position: absolute;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

i, label {
  user-select: none;
  cursor: inherit;
}

i+label {
  margin-left: 5px;
  margin-bottom: 0px;
}

.title-bar {
  height: 36px;
  padding: 10px 10px;
}

.pointer {
  cursor: pointer;
}