/* @import url("../../../../node_modules/bootstrap/dist/css/bootstrap.css"); */

button {
  min-width:0px;
}

.chat-input {
  margin: 0;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.12);
  position: relative;
  display: flex;
}

.col {
  padding: 0;
}

.button-container {
  padding: 0px 5px;
  flex-grow: 0;
}

.btn {
  margin: 10% 0px;
}

.input-container {
  flex-grow: 1;
}

.input-div {
  resize: none;
  border: none;
  outline: none;
  font-size: initial;
  padding:13px;
  height:100%;
}
