/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.word-break {
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}