
/* .alternativ-wrapper {
  display: inline-block;
  cursor: pointer;
}

.button-alternatives {
  border: 1px solid green;
  color: white;
  background-color: blue;
  padding: 2px 4px;
} */


.alternatives-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  background-color: red;
}

.alternativ-wrapper {
 
}
