/* .alternatives {
    padding: 0px;
    margin: 0px;
    text-align: center;
} */

.clear {
  clear: both;
}

.alternativ-wrapper {
  cursor: pointer;
  display: inline-block;
}

/* .alternativ-wrapper {
  border: 1px solid green;
  color: white;
  background-color: blue;
  padding: 2px 4px;
  cursor: pointer;
  display: inline;
} */
